@import "../../vars";

.cities-list {
  text-align: center;
  padding: 0 10px;

  background: $color2;

  .city {
    color: $color4;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;

    &.active {
      color: $color5;
      text-decoration: none;
      background: $color3;
    }
  }
}
