.app {
  margin: 0 auto;
  padding: 10px;
  text-align: center;

  width: 800px;
  height: 200px;

  background: #665858;

  .app-name {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .column {
      width: 48%;
      background: #ccc;
      padding: 10px 0;
    }
  }
}