body {
  margin: 0;
  padding: 0;
  color: #a68156;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input, select {
  box-sizing: border-box;

  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
}

.button {
  background: #44200c;
  color: #a68156;
  border: 1px solid #877f72;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: white;
  }

  &[disabled] {
    background: #777;
    cursor: not-allowed;

    &:hover {
      color: #a68156;
    }
  }
}